{{!-- symbol --}}{{!-- locked/projected PL --}}
{{!-- status --}} {{!-- type --}} {{!-- side --}}
{{!-- stopPrice --}} {{!-- slider for PL --}} {{!-- % for PL --}}
{{!-- price --}} {{!-- slider for stop price --}} {{!-- % for stop price --}}
{{!-- qty --}} {{!-- slider for qty --}} {{!-- % for base value --}}
{{!-- base toggle? --}}

<h2 class="asset-symbol">{{order.symbol}} :
  <span class="asset-stat__value">
    {{pretty-percent value=profitLoss isColored=true}}
  </span>
  <br>
  <small>(from currentPrice)</small>
</h2>

{{#if order.isOpen}}
  <div class="order-stats">
    <span class="order-stat" data-test="order-status">{{order.status}}</span>
    <span class="order-stat" data-test="order-type">{{order.type}}</span>
    <span class="order-stat" data-test="order-side">{{order.side}}</span>
  </div>
{{/if}}

{{paper-input
  label = "Limit price"
  value = order.price
  onChange = "changeLimitPrice"
}}

{{paper-input
  label = stopPriceLabel
  value = order.stopPrice
  onChange = "changeStopPrice"
}}

<div class="control-row" data-id="limit-price">
  {{#paper-button
    raised=true
    mini=true
    onClick=(action 'decValue' order.price 'changeLimitPrice')
  }}
    -
  {{/paper-button}}
  {{paper-slider
    min = priceMin
    max = priceMax
    step = stepValue
    value = order.price
    onChange = "changeLimitPrice"
    data-id = "limit-price-slider"
  }}
  {{#paper-button
    raised=true
    mini=true
    onClick=(action 'incValue' order.price 'changeLimitPrice')
  }}
    +
  {{/paper-button}}
</div>

<div class="control-row" data-id="stop-price">
  {{#paper-button
    raised=true
    mini=true
    onClick=(action 'decValue' order.stopPrice 'changeStopPrice')
  }}
    -
  {{/paper-button}}
  {{paper-slider
    min = stopPriceMin
    max = stopPriceMax
    step = stepValue
    value = order.stopPrice
    onChange = "changeStopPrice"
    data-id = "stop-price-slider"
  }}
  {{#paper-button
    raised=true
    mini=true
    onClick=(action 'incValue' order.stopPrice 'changeStopPrice')
  }}
    +
  {{/paper-button}}
</div>