{{!-- symbol --}}{{!-- locked/projected PL --}}
{{!-- status --}} {{!-- type --}} {{!-- side --}}
{{!-- stopPrice --}} {{!-- slider for PL --}} {{!-- % for PL --}}
{{!-- price --}} {{!-- slider for stop price --}} {{!-- % for stop price --}}
{{!-- qty --}} {{!-- slider for qty --}} {{!-- % for base value --}}
{{!-- base toggle? --}}


<h2 class="asset-symbol">{{order.symbol}} :</h2>
<div class="pl-table">
  <div class="pl-row">
    <div class="pl-column">
      <span class="asset-stat__value" data-id="order-profit-loss">
        {{pretty-percent value=orderProfitLoss isColored=true}}
      </span>
    </div>
    <div class="pl-column">
      <span class="asset-stat__value" data-id="total-profit-loss">
        {{pretty-percent value=totalProfitLoss isColored=true}}
      </span>
    </div>
  </div>

  <div class="pl-row">
    <div class="pl-column">
      <span class="asset-stat__value" data-id="order-profit-loss-label">
        <small>current</small>
      </span>
    </div>
    <div class="pl-column">
      <span class="asset-stat__value" data-id="total-profit-loss-label">
        <small>total</small>
      </span>
    </div>
  </div>
</div>

{{#if order.isOpen}}
  <div class="order-stats">
    <span class="order-stat" data-test="order-status">{{order.status}}</span>
    <span class="order-stat" data-test="order-type">{{order.type}}</span>
    <span class="order-stat" data-test="order-side">{{order.side}}</span>
  </div>
{{/if}}

<div class="order-inputs">
  {{paper-input
    label = "Limit price"
    value = order.price
    onChange = "changeLimitPrice"
  }}

  {{paper-input
    label = stopPriceLabel
    value = order.stopPrice
    onChange = "changeStopPrice"
  }}
</div>

<div class="control-row" data-id="limit-price">
  {{#paper-button
    raised=true
    mini=true
    onClick=(action 'decValue' order.price 'changeLimitPrice')
  }}
    -
  {{/paper-button}}
  {{paper-slider
    min = priceMin
    max = priceMax
    step = stepValue
    value = order.price
    onChange = "changeLimitPrice"
    data-id = "limit-price-slider"
  }}
  {{#paper-button
    raised=true
    mini=true
    onClick=(action 'incValue' order.price 'changeLimitPrice')
  }}
    +
  {{/paper-button}}
</div>

<div class="control-row" data-id="stop-price">
  {{#paper-button
    raised=true
    mini=true
    onClick=(action 'decValue' order.stopPrice 'changeStopPrice')
  }}
    -
  {{/paper-button}}
  {{paper-slider
    min = stopPriceMin
    max = stopPriceMax
    step = stepValue
    value = order.stopPrice
    onChange = "changeStopPrice"
    data-id = "stop-price-slider"
  }}
  {{#paper-button
    raised=true
    mini=true
    onClick=(action 'incValue' order.stopPrice 'changeStopPrice')
  }}
    +
  {{/paper-button}}
</div>