<div class="active-assets">
  {{#if isEmpty}}
    {{#paper-card class="md-card md-card--is-empty"}}
      {{#paper-card-content}}
        No active assets...
      {{/paper-card-content}}
    {{/paper-card}}
  {{else}}
    <div class="total-value-container">
      {{#each model.dashboards as |dashboard|}}
        {{#paper-card class="md-card md-card--total-value"}}
          {{#paper-card-content data-id="total-value-card"}}
            TotalValue: {{dashboard.currencySymbol}}&nbsp;<span data-id="total-value">{{dashboard.totalValue}}</span>
          {{/paper-card-content}}
        {{/paper-card}}
      {{/each}}
    </div>
    {{#each model.activeAssets as |activeAsset|}}
      {{#paper-card class="md-card"}}

        {{!-- asset info --}}
        {{#paper-card-content}}
          <h2>{{activeAsset.id}} :
            {{#if activeAsset.balance.isEmpty}}
              N/A
            {{else}}
              <span class="asset-stat__value">
                {{pretty-percent value=activeAsset.currentProfitLoss isColored=true}}
              </span>
            {{/if}}
          </h2>

          <div class="active-asset" layout="row" layout-align="start center" data-id="current-price">
            <h3>
              <label class="asset-stat__label">
                Current price:
              </label>
              <span class="asset-stat__value current-price" is-updating={{activeAsset.isUpdatingPrice}}>
                {{activeAsset.uiCurrentPrice}}
              </span>
            </h3>
          </div>

          {{#if activeAsset.balance.isEmpty}}
            <div class="active-asset" layout="row" layout-align="start center" data-id="empty-balance">
              <small>
                <label class="asset-stat__label">
                  Empty balance...
                </label>
              </small>
            </div>
          {{else}}
            <div class="active-asset" layout="row" layout-align="start center" data-id="last-buy-in">
              <small>
                <label class="asset-stat__label">
                  Last buy in:
                </label>
                <span class="asset-stat__value">
                  {{activeAsset.lastBuyIn.prettyPrice}}
                </span>
              </small>
            </div>
            <div class="active-asset" layout="row" layout-align="start center" data-id="current-qty">
              <small>
                <label class="asset-stat__label">
                  Asset Qty:
                </label>
                <span class="asset-stat__value">
                  {{activeAsset.balance.prettyQty}}
                </span>
              </small>
            </div>
            <div class="active-asset" layout="row" layout-align="start center" data-id="base-value">
              <small>
                <label class="asset-stat__label">
                  Base Value:
                </label>
                <span class="asset-stat__value">
                  {{activeAsset.baseValue}}
                </span>
              </small>
            </div>
          {{/if}}
        {{/paper-card-content}}

        {{!-- orders --}}

        {{#paper-card-content}}
          {{#each activeAsset.openOrders as |order|}}

            {{paper-divider}}

            {{#order-widget
              order = order
              lastBuyIn = activeAsset.lastBuyIn
              currentPrice = activeAsset.currentPrice
              hasBalance = activeAsset.hasBalance
            }}{{/order-widget}}
          {{/each}}

          {{#if activeAsset.hasOpenOrders}}
            {{#paper-button raised=true click=(action "removeOrder" activeAsset)}}
              Remove order
            {{/paper-button}}
          {{else}}
            {{#paper-button raised=true click=(action "createOrder" activeAsset)}}
              Create order
            {{/paper-button}}
          {{/if}}
        {{/paper-card-content}}

      {{/paper-card}}
    {{/each}}
  {{/if}}
</div>

{{!--
  {{#link-to 'scratch'}}Go to scratch{{/link-to}}
 --}}